body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  height: 100%;
  background-image: url(./img/bg\ jpag.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.quote-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  max-height: 200px;
  height: 100%;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.quote {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.author {
  color: #666;
  font-size: 0.9em;
  margin-bottom: 20px;
}

.quote-button {
  padding: 10px 20px;
  background-color: #0070f3;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.quote-button:hover {
  background-color: #0059c1;
}

.quote-list {
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
  padding: 20px 30px;
  background: rgba(255, 255, 255, 0.431); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Apply blur effect */
  border-radius: 8px; /* Optional: Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
}

.btn-list {
  padding: 10px 20px;
  background-color: #0070f3;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.btn-list:hover {
  background-color: #0059c1;
}